@model FPIS_Projekat.Models.Offer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Offer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="_Employee.Name" class="control-label"></label>
                <select asp-for="_Employee.ID" class="form-control" asp-items="@(new SelectList(ViewBag.Employees, "ID", "Name", Model._Employee.Name))"></select>

                <label asp-for="_Client.Name" class="control-label"></label>
                <select asp-for="_Client.ID" class="form-control" asp-items="@(new SelectList(ViewBag.Clients, "ID", "Name", Model._Client.ID))"></select>

                <label asp-for="Date" class="control-label">Datum</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
                <button id="openModal" class="btn btn-primary">Dodaj stavku ponude</button>
                <div id="tableOfItems">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Uređaj
                                </th>
                                <th>
                                    Proizvođač
                                </th>
                                <th>
                                    Cena
                                </th>
                                <th>
                                    Paket
                                </th>
                                <th>
                                    Cena
                                </th>
                                <th>
                                    Opcija
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            <partial name="TableOfferItems" />
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<dialog id="modal" class="modal">
    <div class="modal-content">
        <h4>OfferItem</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form id="createOfferItem" asp-action="CreateOfferItem">
                    <span id="items">
                        <label asp-for="OfferItems[0]._Device.Name" class="control-label"></label>
                        <select asp-for="OfferItems[0]._Device.ID" class="form-control" asp-items="@(new SelectList(ViewBag.Devices, "ID", "Name"))"></select>

                        <label asp-for="OfferItems[0]._TariffPackage.Name" class="control-label"></label>
                        <select asp-for="OfferItems[0]._TariffPackage.ID" class="form-control" asp-items="@(new SelectList(ViewBag.Packages, "ID", "Name"))"></select>
                    </span>
                    <div class="form-group">
                        <input type="submit" id="addItemBtn" value="Dodaj stavku" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</dialog>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
