@model FPIS_Projekat.Models.Offer

@{
    ViewData["Title"] = "Pretraga";
}

<div>
    <form asp-action="Search">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Date" class="control-label">Datum</label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
        <input type="submit" value="Pretraži" class="btn btn-primary" />
    </form>
</div>
<div>
    <p>
        <a asp-action="Create">Kreiraj novu ponudu</a>
    </p>
</div>

